body {
    margin: 0px !important;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}



.intro {
    color: #ffffff;
    height: 35em;
    background-image: url('/static/media/landing_banner.jpeg');
    background-size: cover;
        position: relative;
}

.intro-box {
    width: 50%;
    box-shadow: 3px 4px 4px #000000c2;
    padding: 10px;
    background-color: rgba(43, 43, 43, 0.83);
    position: absolute;
    top: 12%;
    left: 5%;
}

.intro-box h1 {
    font-size: 4.5em;
    margin: 0px;
}

.intro-box p {
    font-size: 1.2em;
    margin: 0px;
}

.nav-bar {
    display: flex;
    height: 5vh;
    padding: 2vh;
    justify-content: space-evenly
}

.nav-image {
    height: 100%;
    width: auto;
}

.nav-item {
    color: #000000c2;
    align-self: center;
}