<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='media/Favicon.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <title>National Trust | {% block page_name %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="nav-bar">
        <div class="logo">
            <a href="/"><img class="nav-image" src="{{url_for('static', filename='/media/logo.png')}}"></a>
        </div>
        <div class="nav-item">
            <a href="/places">Places</a>
        </div>
    </div>
    <div class="content">
    
        {% block content %}{% endblock %}
        
    </div>

</body>
</html>