{% extends "base.html" %}

{% block page_name %}Landing{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="intro">
            <div class="intro-box">
                <h1>Let’s Conserve</h1>
                <p>As Europe’s largest conservation charity, we look after nature, beauty and history for everyone to enjoy. 
                    We do it with the help of millions of members, volunteers, staff and donors. Without this, we couldn’t 
                    care for the miles of coastline, woodlands, countryside and the hundreds of historic buildings, gardens 
                    and precious collections we protect.</p>
            </div>    
    </div>
    <h2>Great Places to Explore</h2>
    <div class="cards-simple">
        {% for place in places %}
            {% set image = 'static/media/place_images/' + places[place]['Thumbnail'] %}
            <div class="card" style="background-image: url('{{ image }}');">
                <p>{{ place }}</p>
            </div>
        {% endfor %}
    </div>

    

    <p>space</p>
{% endblock %}