{% extends "base.html" %}

{% block page_name %}Landing{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="banner">
        <div class="banner-text">
            <h1>Great Places To Visit</h1>
        </div>     
    </div>
    <h2>Great Places to Explore</h2>
    <div class="cards-advanced">
        {% for place in places %}
            {% set image = '/media/place_images/' + places[place]['Thumbnail'] %}
            <div class="card">
                <img src="{{url_for('static', filename=image)}}"/>
                <h1>{{ place }}</h1>
                <p>{{ places[place]['Type'] }}</p>

            </div>
        {% endfor %}
    </div>
{% endblock %}